---
name: Internal - Global - Pull Request TODO checker

on:
    pull_request_review_comment:
        types: [edited, deleted]
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    find_todos:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

            - name: Check for Todos
              uses: phntmxyz/pr_todo_checker@2c2e2f22f56b74b01d69a81eb56d1f61bcc4d82a # v1
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
